#bookmark_comment {
  height: 100px;
}


.add-btn {
  background: linear-gradient(45deg, #0d6efd, #0d6efd);
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 15px;
  right: 20px;
}

#add-title {
  margin-left: 15px;
}

.from-form {
  flex-direction: column;
}